extends layout

block content
	#page(data-role='page')
		select#flip-1(name='flip-1', data-role='slider')
			option(value='off') Off
			option(value='on') On
		br	
		select#flip-2(name='flip-2', data-role='slider')
			option(value='off') Off
			option(value='on') On	
		br
		select#flip-3(name='flip-3', data-role='slider')
			option(value='off') Off
			option(value='on') On	
		br
		select#flip-4(name='flip-4', data-role='slider')
			option(value='off') Off
			option(value='on') On	

